.chat {
    background-color: #4d0f9e33;
    box-shadow: 0px 0px 15px 10px #4d0f9e33;
    color: white;
    flex-grow: 1;
    min-width: 320px;
    padding: 0.5rem 1rem;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    .recipient {
        width: 100%;
        border-radius: 0 0 25% 25%;
        background-color: #916ee2b9;
        backdrop-filter: blur(5px);
        box-shadow:
            rgba(0, 0, 0, 0.5) 0px 2px 20px 0px,
            rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        width: 97%;
        padding: 7px 14px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        .pfp {
            height: 65px;
            width: 65px;
        }
    }
    .texts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        overflow: scroll;
        height: 80vh;
        width: 90%;
        .message {
            background-color: #9a72cf;
            margin: 5px;
            padding: 1rem;
            padding-bottom: 1rem;
            border-radius: 2rem;
            max-width: 90%;
            &.sent {
                border-bottom-right-radius: 0;
                align-self: flex-end;
            }
            &.received {
                border-bottom-left-radius: 0;
                background-color: #6311ce;
            }
             p {
                margin:  0.3rem 1.25rem;
                font-size:  x-large;
            }
            .imgmsg {
                max-width:250px ;
                width: 100%;

            }
        }
    }
    form {
        border: none;
        border-radius: 5px;
        margin: 0;
        padding: 0;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 95%;
        padding: 1rem;
        background-color: #9a72cf73;
        box-shadow: 0px 0px 10px 5px #9a72cf73;
        position: relative;
        .file {
            background-color: #9a72cf73;
            box-shadow: 0px 0px 10px 5px #9a72cf73;

            position: absolute;
            left: 0;
            bottom: 4rem;
            cursor: pointer;
            height: 25vh;
            width: 25vh;
            background-size: cover;
            .trashicon {
                position: absolute;
                height: 20%;
                border-radius: 1rem;
            }
        }
        .file-input__input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        input,
        input:active {
            border: none;
            border-radius: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            width: 100%;
            height: 3rem;
        }
        .icon {
            height: 30px;
            background-color: #9a72cfa8;
            box-shadow: 0px 0px 10px 5px #9a72cfce;
            cursor: pointer;
        }
    }
}
