.chat {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    background-color: #454545;
    flex-grow: 1;
    min-width: 320px;
    padding: 0.5rem 1rem ;

    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .recipient {
        width: 100%;
        border-radius: 0 0 25% 25%;
        background-color: #282828;
        box-shadow:
            rgba(0, 0, 0, 0.8) 0px 15px 20px 0px,
            rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        width: 97%;
        padding: 7px 14px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        .pfp {
            height: 65px;
            width: 65px;
        }
    }
    .texts {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        .message {
            background-color: black;
            margin: 5px;
            padding:1rem;
            padding-bottom: 1rem;
            border-radius: 2rem;
            width: 60%;
            min-width: 200px;
            &.sent {
                border-bottom-right-radius: 0;
                align-self: flex-end;
            }
            &.received {
                border-bottom-left-radius: 0;
            }
        }
    }
    .input {
        border-radius: 0.5em;
        background-color: #282828;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
        .icon {
            height: 50px;
        }
        input { 
            flex-grow: 1;
            border: none;
            border-radius: 5px;
            margin: 0;
            padding: 0;
            height: 2.5rem;
        }
    }
}
