::-webkit-scrollbar {
    width: 0;
}
.main-wrapper { 
    padding: 0;   
    display: flex;
    align-content: center; 
    flex-direction: row; 
    height: calc(100% - 1rem);
    gap: 0.555rem;
    padding: 0.5rem;
    background-color:gray;
 
}