* {
  transition-duration: 0.1s;
}
#root,
body,
html {
  margin: 0;
  height: 100%;
}
html {
  background-image: url("../public/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.floats {
  button {
    height: 1cm;
  }
  top: 1rem;
  left: 1rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
