#root,
html,
body {
	background-color: #3e7f8f;
	margin: 0; 
	width: 100%;
  height: fit-content;
}

#root {
  margin-top: 10% ;
  display: flex; 
  align-items: center;
  flex-direction: column;
}

a { text-decoration: none; }

nav {
	height: 10%;
  width: 50%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #bc9292;
  font-size: xx-large;
  margin-bottom: 5%;
}

.shopItem {
  height: 400px;
  width: 300px;
}

.shopItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}