@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    transition-duration: 0.1s;
}

/* f4effa-2f184b-532b88-9b72cf-c8b1e4 */

.auth {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    height: 100%;
    padding: 3rem 0;

    form {
        text-align: center;

        width: 40%;
        min-width: 300px;
        background-color: #2f184bd2;
        backdrop-filter: blur(15px);
        border-radius: 0.3rem;
        box-shadow: 0 0px 20px rgba(255, 255, 255, 0.24);
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .pfp {
            height: 5rem;
            width:  5rem;
        }
        h1 {
            color: #f4effa;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 2.5rem;
            text-align: center;
        }
        input {
            background-color: transparent;
            border: none;
            font-size: larger;
            border-bottom: 0.3rem solid white;
            border-radius: 5px;
            color: #f4effa;
            margin-bottom: 1rem;
            padding: 0.8rem 1rem;
            outline: none;
            width: 100%;
            &::placeholder {
                color: #f4effa;
            }
        }
        input[type="submit"] {
            border: none;
            background-color: #ffffffcc;
            cursor: pointer;
            font-weight: 500;
            letter-spacing: 1px;
            width: fit-content;
            justify-self: flex-end;
            color: #2f184bd2;
            &:hover {
                background: #c8b1e4;
            }
        }
    }
}
